<!-- <div>
  <div *ngFor="let user of users$ | async">
    <p>{{ user.id }}</p>
  </div>
  
  <div *ngFor="let user of username$ | async">
    <p>{{ user }}</p>
  </div>

  <div *ngIf="data$ | async as data">
      <div *ngFor="let user of data.users">
            {{user.name}}
      </div>
      <div *ngFor="let usern of data.username">
            {{usern}}
      </div>
      <div *ngFor="let num of data.filtered">
            {{num.id}}
      </div>
  </div>

  <app-counter [receiveMessage]="message" [num]="rnum"></app-counter>
  <app-time [getMessage]='timeMessage'></app-time>

  
</div> -->

<app-count></app-count>

<router-outlet></router-outlet>